<!DOCTYPE html>
<html>
  <head>
    <title>APICuriousGithub</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if current_user != nil %>
      <%= render "layouts/navbar" %>
    <% end %>
    <%= yield %>
  </body>
</html>
